$primaryColor: rgb(57, 31, 80);
$secundaryColor: rgb(88, 52, 120);
$fontColor:#35373a;
$space_lateral:2%;
$h1Font:'Cormorant Garamond', serif;
$h2Font: 'Raleway', sans-serif;
$bodyFont:'Lato', sans-serif;

